<div class="column gap-1">
  <h1 class="title">Welcome to {{ title }}</h1>

  <!-- Add Product Button, PrimeNG button, (click) is click button event not @Output event -->
  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddComponent()"
    label="Add Product"
    class="add-product-btn"
  ></button>

  <!-- Products Section -->
  <div class="row wrap gap-2 space-between">
    <!-- We use here for loop for all our products than we provide each item as @Input property
      to our ProductComponent [product]. So we establish connection between "parent/smart"
      HomeComponent and "child/dumb" ProductComponent on [product] property (@Input type) from "child".
      (edit) and (delete) are @Output prop/events from ProductComponent to pass Product for Editing/Deleting-->
    @for (item of products; track item.id) {
    <app-product
      [product]="item"
      (edit)="toggleEditComponent($event)"
      (delete)="onConfirmDelete($event)"
    />
    }
  </div>

  <!-- Paginator -->
  <!-- We have several input properties which setup how our Page looks like, so  by default
  [perPage] is number of Products per Page, 
  [totalRecords] is number of all products
  [rowsPerPageOptions] available options for number of Products per Page (dropdown) 
  (onPageChange) is @Output property where we get from Paginator info how many Products and
  Pages we have and we pass it to our getProducts() method. -->
  <p-paginator
    [rows]="perPage"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
    #paginator
  ></p-paginator>
</div>

<!-- Add Product Popup Comp = AddEditComponent (PrimeNG Comp) in Add version -->
<!-- (confirm) @Output event from AddEditComponent - after click Confirm button we get here created Product, 
  [(display)] 2-way binding (@Input/@Output) prop, as @Input it will pass true/false value to AddEditComponent(Add) 
  [display] prop where it will set PrimeNG "Popup" Dialog visible prop to show this Popup or not, as @Output we need to
  create in AddEditComponent @Output (displayChange) prop which will emit back value of this [display] prop. -->
<app-add-edit
  [(display)]="displayAddComponent"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-add-edit>

<!-- Edit Product Popup Comp = AddEditComponent (PrimeNG Comp) in Edit version -->
<!-- (confirm) @Output event from AddEditComponent - after click Confirm button we get here edited Product,
  [product] is @Input which we provide to AddEditComponent to fill input fields in Edit Form
  [display] @Input property to pass true/false value to AddEditComponent(Edit)[display] prop where it will set
  PrimeNG "Popup" Dialog visible prop to show this Popup or not -->
<app-add-edit
  [product]="selectedProduct"
  [(display)]="displayEditComponent"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-add-edit>
