<div class="column gap-1 wrapper">
  <!-- Product Thumbnail -->
  <!-- For img we provide string property so we must do it using variable [src]="product.image"
         or we can use src="{{ product.image }}", w/o [] it would treat product.image as text  -->
  <img [src]="product.image" alt="Product Thumbnail" />

  <!-- Product Name -->
  <h2 class="title">{{ product.name }}</h2>

  <!-- Product Price -->
  <div class="row gap-05">
    <span class="price-label">Price:</span>
    <span class="price">{{ product.price }}</span>
  </div>

</div>
